@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --x: 0;
  --y: 0;
}

body {
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif, system-ui;
  /* background-color: #0f172a; */
}

@media (min-width: 768px) and (max-width: 1000px) {
  .custom-padding {
    padding-right: 10px;
  }
}
