@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --x: 0;
  --y: 0;
}

body {
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif, system-ui;
  /* background-color: #0f172a; */
}

@media (min-width: 768px) and (max-width: 1000px) {
  .custom-padding {
    padding-right: 10px;
  }
}

.blogs-heading {
  font-size: 2rem; /* Adjust the size as needed */
  font-weight: 700;
  color: black; /* Primary color */
  text-align: center;
  background: linear-gradient(90deg, #3e95fb, #72c0fd);
  -webkit-background-clip: text;
  padding-top: 20px;
  margin-bottom: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  animation: text-glow 2s ease-in-out infinite alternate;
}

/* Adding subtle animation */
@keyframes text-glow {
  from {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3),
      0 0 10px rgba(62, 149, 251, 0.5);
  }
  to {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3),
      0 0 15px rgba(114, 192, 253, 0.7);
  }
}

.prose img {
  max-width: 100%; /* Prevents overflow */
  max-height: 350px; /* Adjust the height to your preference */
  object-fit: contain; /* Maintain aspect ratio */
  display: block; /* Centers image */
  margin: 0 auto; /* Horizontal center alignment */
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
